In [1]:
%matplotlib inline
from pandas import Series, DataFrame
import pandas as pd
import operator
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import copy
import math
import json
import datetime
from pandas.io.json import json_normalize
matplotlib.rc('font',family='AppleGothic')

In [2]:
json_file = open("1_20151101_heart.json", 'r')
json_data = json_file.read()
json_file.close()
heart_json = json.loads(json_data)

In [3]:
json_file = open("1_20151101_steps.json", 'r')
json_data = json_file.read()
json_file.close()
step_json = json.loads(json_data)

In [23]:
json_file = open("1_20151101_sleep.json", 'r')
json_data = json_file.read()
json_file.close()
sleep_json = json.loads(json_data)
sleep_json_df = json_normalize(sleep_json[u'sleep'][0][u'minuteData'])
sleep_json_df = sleep_json_df.rename(columns = {u'value':u'status'})
sleep_json_df = sleep_json_df.rename(columns = {u'dateTime':u'time'})

In [24]:
heart_json_df = json_normalize(heart_json[ u'activities-heart-intraday'][u'dataset'])
step_json_df = json_normalize(step_json[u'activities-steps-intraday'][u'dataset'])
step_json_df = step_json_df.rename(columns = {u'value':u'steps'})
heart_json_df = heart_json_df.rename(columns = {u'value': u'heart_beat'})

In [25]:
heart_json_df.describe()

        heart_beat
count  1382.000000
mean     76.815485
std      17.198546
min      51.000000
25%      61.000000
50%      75.000000
75%      90.000000
max     146.000000

In [26]:
for t in range(len(step_json_df[u'time'])):
    step_json_df[u'time'][t] = step_json_df[u'time'][t].split(':')[0] + u':00:00'

/Library/Python/2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [35]:
step_summary =  step_json_df.groupby(u'time').agg({u'steps':[np.sum]})
print step_summary.min()
print step_summary.max()
print step_summary.mean()
print step_summary.sum()

steps  sum    0
dtype: int64
steps  sum    2413
dtype: int64
steps  sum    476.916667
dtype: float64
steps  sum    11446
dtype: int64

In [36]:
sleep_json_df

         time status
0    07:38:30      1
1    07:39:30      2
2    07:40:30      1
3    07:41:30      1
4    07:42:30      1
5    07:43:30      2
6    07:44:30      1
7    07:45:30      1
8    07:46:30      1
9    07:47:30      1
10   07:48:30      1
11   07:49:30      1
12   07:50:30      1
13   07:51:30      1
14   07:52:30      1
15   07:53:30      1
16   07:54:30      1
17   07:55:30      1
18   07:56:30      1
19   07:57:30      1
20   07:58:30      1
21   07:59:30      1
22   08:00:30      1
23   08:01:30      1
24   08:02:30      1
25   08:03:30      1
26   08:04:30      1
27   08:05:30      1
28   08:06:30      1
29   08:07:30      1
..        ...    ...
474  15:32:30      1
475  15:33:30      1
476  15:34:30      1
477  15:35:30      1
478  15:36:30      1
479  15:37:30      1
480  15:38:30      1
481  15:39:30      1
482  15:40:30      1
483  15:41:30      1
484  15:42:30      1
485  15:43:30      1
486  15:44:30      1
487  15:45:30      1
488  15:46:30      1
489  15:47:30      1
490  15:48:30      1
491  15:49:30      2
492  15:50:30      1
493  15:51:30      1
494  15:52:30      1
495  15:53:30      1
496  15:54:30      1
497  15:55:30      1
498  15:56:30      1
499  15:57:30      1
500  15:58:30      1
501  15:59:30      1
502  16:00:30      1
503  16:01:30      1

[504 rows x 2 columns]